@model DoubleBooking.Domain.Model.BookingsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Double Booking</h4>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(x=>x.Email)
                @Html.TextBoxFor(x => x.Email, new {@class = "form-control", placeholder = "Email", type = "email", required = true})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DateBooking)
                @Html.TextBoxFor(x => x.DateBooking, new {@class = "form-control", Value=DateTime.Today.ToShortDateString() , placeholder = "dd/MM/yyyy", required = true})
            </div>
            <div class="form-group">
                <p><b>Local Authorities</b></p>
                @Html.DropDownListFor(x => x.SelectedLocalAuthorities, Model.LocalAuthorities)
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" id="input-submit" class="btn btn-primary">
            </div>
            <p class="text-primary">@ViewBag.message</p>
        }
    </div>
</div>